<div class="rh-image-block{{#if extendClass}} {{extendClass}}{{/if}}">
    <img class="rh-image-block__image{{#if heroImage.extendClass}} {{heroImage.extendClass}}{{/if}}" src="{{heroImage.src}}" alt="{{heroImage.alt}}">
    {{render '@caption-mini--default' caption merge=true}}
</div>