<div class="rh-message">
	<span class="rh-message-icon"></span>
	<div class="rh-message-text">
		<h5 class="rh-message-text-title">{{title}}</h5>
		<p><time datetime="{{datetime.attrValue}}">{{datetime.text}}</time></p>
		<p>{{description}}</p>
		<p><a class="rh-message-text-link" href="{{viewMoreLink.linkTo}}">{{viewMoreLink.linkText}}</a></p>
	</div>
</div>