<div class="rh-form-group">
    {{!-- Label for the control --}}
    {{#if labelData.text}}
    <label for="{{labelData.forControlId}}" class="rh-form__label {{#if labelData.extendClass}}{{labelData.extendClass}}{{/if}}">
        {{labelData.text}}
        {{!-- Extend text for requirement --}}
        {{#if labelData.requirement.text}}
        <span class="rh-form__label-text--required">{{labelData.requirement.text}}</span>
        {{/if}}
    </label>
    {{/if}}
    {{!-- Input text control --}}
    {{#if controlData}}
    <textarea id="{{controlData.controlId}}" class="rh-form__control rh-form__textarea{{#if controlData.extendClass}} {{controlData.extendClass}}{{/if}}"
    placeholder="{{controlData.placeholder}}"></textarea>
    {{/if}}
</div>