<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}} rh-button-icon--large">{{ text }}</button>
<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}}">{{ text }}</button>
<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}} rh-button-icon--small">{{ text }}</button>


