<div class="rh-event-calendar-block">
    <div class="rh-event-calendar-block__header">
        <img class="rh-event-calendar-block__header__hero-image" src="{{heroImage.src}}" alt="{{heroImage.alt}}">
        {{render '@caption-mini--has-triangle' caption merge=true}}
    </div>

    <div class="rh-event-calendar-block__body">
        <p class="rh-event-calendar-block__body__title">{{title}}</p>
        <p>{{description}}</p>
    </div>
</div>