<!-- 
    The script is only using for demo.
    It resets Fractal's styling for <body> tag.
-->
<script>
    $("body").css({ "padding": "", "margin": "", "min-width": "320px" });
</script>

<!-- The sample content is only using for demo  -->
<div style="height: 2em; background-color:#c2c2c2;text-align:center;overflow: hidden;">
    <p style="line-height: 2em;">En del av Region Halland</p>
</div>

{{render '@cookie-notice'}}

<!-- MENU BEGIN -->
<!-- The script is important for the menu on iOS -->
<script src="/js/bodyScrollLock-2.6.4.js"></script>

<div id="menu-dropdown-anchor"></div>
<div class="rh-menu-dropdown rh-display-only-sm">
    <div class="rh-menu-dropdown__header">
        <div class="rh-menu-dropdown__header-logo-container">
            <a href="{{header.link}}">
                <img class="rh-menu-dropdown__header-logo" src="{{header.logo}}">
            </a>
        </div>
        
        <div class="rh-round-button rh-menu-dropdown__menu-round-button">
            <span class="icon-menu rh-menu-dropdown__icon-menu"></span>
        </div>
    </div>
    
    <div class="rh-menu-dropdown__body">
        {{#each body.items}}{{!-- Level 1 - Root --}}
            <div>
                <div class="rh-menu-dropdown__item">
                    <a href="{{link}}" class="rh-link--navigation rh-menu-dropdown__text">{{text}}</a>
                    {{#if subItems}}
                    <div id="{{id}}" class="rh-round-button rh-round-button--small rh-menu-dropdown__item-round-button">
                        <span class="icon-minus rh-menu-dropdown__icon-item"></span>
                    </div>
                    {{/if}}
                </div>

                {{#if subItems}} {{!-- Level 2 --}}
                <div id="sub{{id}}" class="rh-menu-dropdown__item__sub-container">
                    {{#each subItems}}
                    <div class="rh-menu-dropdown__item rh-menu-dropdown__item__sub-item rh-pl-3">
                        <a href="{{link}}" class="rh-link--navigation rh-menu-dropdown__text">{{text}}</a>
                        {{#if subItems}}
                        <div id="{{id}}" class="rh-round-button rh-round-button--small rh-menu-dropdown__item-round-button">
                            <span class="icon-minus rh-menu-dropdown__icon-item"></span>
                        </div>
                        {{/if}}
                    </div>

                    {{#if subItems}}{{!-- Level 3 --}}
                    <div id="sub{{id}}" class="rh-menu-dropdown__item__sub-container">
                        {{#each subItems}}
                        <div class="rh-menu-dropdown__item rh-menu-dropdown__item__sub-item rh-pl-5">
                            <a href="{{link}}" class="rh-link--navigation rh-menu-dropdown__text">{{text}}</a>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
            </div>
        {{/each}}

        <div>
            <div class="rh-menu-dropdown__item rh-menu-dropdown__footer">
                <a href="{{footer.link}}" class="rh-link--navigation rh-menu-dropdown__text rh-menu-dropdown__footer-text">{{footer.text}}</a>
            </div>
        </div>
    </div>
</div>
<div class="rh-menu-dropdown__spacing-after"></div>
<!-- MENU END -->

<!-- Using only for scrolling testing -->
<div>
    <p class="h3">Scale your screen to under 768px for viewing how the menu works!</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<!-- End of test area -->