<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ path '/css/components.css' }}">
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">

    <title>Preview</title>

    <script src="{{ path '/js/jquery-3.4.1.min.js' }}"></script>
    <script src="{{ path '/js/bodyScrollLock-2.6.3.min.js' }}"></script>
    <script src="{{ path '/js/library.js' }}"></script>
</head>

<body style="padding: 1rem;">

    {{{ yield }}}

<script src="{{ path '/js/components.js' }}"></script>

</body>
</html>
