<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}}{{#if extendClass}} {{extendClass}}{{/if}}" aria-label="Text som förklarar funktionen om man lyssnar med talsyntes utan att se kontexten" role="button">{{ text }}</button>
