{{#each events}}
<div class="rh-event-card-calendar">
    <div class="rh-event-card-calendar-date">
        <h4 class="rh-event-card-calendar-date-day">{{date.day}}</h4>
        <h6 class="rh-event-card-calendar-date-month">{{date.month}}</h6>
    </div>

    <div class="rh-event-card-calendar-description">
        <h5 class="rh-event-card-calendar-title"><a class="rh-event-card-calendar-title-link">{{title}}</a></h5>
        <p class="rh-event-card-calendar-inline rh-event-card-calendar-time">
            {{time.start}} - {{time.end}}
        </p>

        <p class="rh-event-card-calendar-inline">|</p>

        {{#if placeStatus}}
        <p class="rh-event-card-calendar-inline rh-event-card-calendar-place">
            Platser finns
        </p>
        {{else}}
        <p class="rh-event-card-calendar-inline rh-event-card-calendar-place rh-event-card-calendar__place--busy">
            Platser finns inte
        </p>
        {{/if}}

        <p class="rh-search-descpription">{{description}}</p>

        {{#each tags}}
        <span class="rh-labels">{{name}}</span>
        {{/each}}

    </div>
</div>

<div style="height:100px"></div>
{{/each}}