<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}} rh-button--large">{{ text }}</button>
<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}}">{{ text }}</button>
<button class="{{name}}{{#if modifier}} {{name}}--{{ modifier }}{{/if}} rh-button--small">{{ text }}</button>
